.chats_item {
    margin-bottom: 5px;
}
.chats_item a {
    display: flex;
    text-decoration: none;
    color: rgb(82, 130, 114);
    align-items: top;
    column-gap: 5px;
}
.chats_item a img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}